
.main-title {
    color: var(--color-main-title);
    margin-bottom: 50px;
    padding: 25px;
    width: 800px;
}

.main-title h1 {
    text-transform: uppercase;
    font-size: 55px;
    
}

.main-title p {
    color: var(--color-text-purple);
    font-size: 35px;
}

.btn-1 {
    display: inline-block;
    background-color: rgba(170, 177, 255, 0.3);
    border: 1px solid #AAB1FF;
    margin: 35px 10px 0px 0px;
    padding: 15px 25px;
    color: aliceblue;
    border-radius: 25px;
    text-decoration: none;
}

.btn-1:hover {
    background-color: #AAB1FF;
}

.service {
    /* background-color: white; */
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 0px 20px rgba(135, 141, 214, 0.3);
}
.service h3 {
    font-size: 20px;
    color: #0E0E0E;
}

.service p{
    color: #ffffff;
    font-size: 16px;
    
}

.news-section {
    background-color: var(--color-background2);
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px 15px 0px 0px;
}
